{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Новая подборка книг</h1>
        
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control") }}
                {% if form.title.errors %}
                    <ul class="errors">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
        
        <a href="{{ url_for('collections_bp.collections') }}" class="btn btn-secondary mt-3">Отмена</a>
    </div>
{% endblock %}
